body {
    color: white;
    text-align: center;
    font: normal 15pt Arial;
    background-color: rgb(23, 132, 165);
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0,0,0,363);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
img {
    width: 275px;
    height: 275px;
}
p {
    color: black;
}
div#res {
    color: black;
}